* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  padding-top: 2rem;
}

h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  padding: 0.25rem;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  color: hsl(251, 87%, 32%);
}
h4 {
  font-size: 0.875rem;
}
p {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h3,
  h4 {
    line-height: 1;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.game-btn,
.modal-btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.game-btn:hover,
.modal-btn:hover {
  color: #fff;
  background: #222;
  transform: scale(1.2);
}

.section {
  padding: 4rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.section-center {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}

.alert-tie {
  color: #515251;
  background: #d4edda;
}

.game-selection,
.game-count {
  display: flex;
  justify-content: space-between;
}

.winner-section {
  display: flex;
  justify-content: center;
}

.game-container {
  margin-top: 2rem;
}

.title {
  margin-bottom: 0;
  color: hsl(209, 61%, 16%);
  letter-spacing: 2px;
}

.text {
  text-align: center;
}

/****** Popup Modal *******/

#mpopupLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.mpopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.3rem;
}
.modal-header {
  padding: 2px 12px;
  background-color: #ffffff;
  color: #333;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-header h2 {
  font-size: 1.25rem;
  margin-top: 14px;
  margin-bottom: 14px;
}
.modal-body {
  padding: 2px 12px;
}
.modal-footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #333;
  border-top: 1px solid #e9ecef;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* add animation effects */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
